.checkout-container {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
}

.checkout-content {
  display: flex;
  gap: 30px;
  margin-top: 20px;
}

.checkout-form, .checkout-summary {
  flex: 1;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
}

.checkout-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.payment-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.payment-options label {
  font-size: 16px;
  cursor: pointer;
  
}

.checkout-summary .checkout-item {
  display: flex;
  gap: 12px;
  margin-bottom: 12px;
}

.checkout-summary img {
  width: 60px;
  height: 60px;
  border-radius: 6px;
  object-fit: cover;
}

.place-order-btn, .back-home-btn {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.place-order-btn {
  background: #28a745;
  color: white;
}

.back-home-btn {
  background: #007bff;
  color: white;
}
