/* Hero.css */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 10%;
  background: linear-gradient(135deg, #f9f9f9, #ffffff);
  font-family: "Inter", sans-serif;
}

.hero-content {
  max-width: 50%;
}

.hero-content h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: #1c4e6f;
}

.hero-content p {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 30px;
  line-height: 1.6;
}

.hero-buttons {
  display: flex;
  gap: 15px;
}

.btn {
  padding: 12px 28px;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 600;
}

.btn.primary {
  background: #1c4e6f;
  color: #fff;
  border: none;
}

.btn.primary:hover {
  background: #5a4dbc;
}

.btn.secondary {
  background: transparent;
  border: 2px solid #1c4e6f;
  color: #1c4e6f;
}

.btn.secondary:hover {
  background: #5a4dbc;
  color: #fff;
  border: 2px solid #fff;
}

.hero-image img {
  width: 420px;
  max-width: 100%;
  
}
